#app_menu {
  padding: 0px 10px;
  top: 0px;
  height: 15px;
  width: 15px;
}

div {
  text-align: center;
}

button {
  font-family: Arial;
  font-size: 13px;
  padding: 10px 15px;
  opacity: 0.5;
  width: auto;
  font-weight: bold;
}

.sign_in {
  position: inline-block;
  border: 1px solid #4285f4;
  border-radius: 2px;
  background: #4285f4;
  padding: 0px 10px;
  color: #fff;
  opacity: 1;
  line-height: 28px;
}

button:hover {
  opacity: 1;
  border-radius: 2px;
}

img {
  position: relative;
  height: 100px;
  width: 300px;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px 10px;
  padding-right: 20px;
  height: 40px;
  width: 500px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#main {
  position: absolute;
  top: 150px;
  left: 30%;
}

.left_bot_navbar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100;
}

.left_top_navbar {
  overflow: hidden;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 100;
}

.right_bot_navbar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100;  
}

.right_top_navbar {
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 100;
}

li {
  font-family: Arial;
  font-size: 13px;
  float: left;
  text-align: center;
  padding: 10px 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
